parameters:
    level: max
    paths:
        - app
        - routes
    checkMissingVarTagTypehint: true
    checkMissingIterableValueType: true
    checkUnionTypes: true
    checkExplicitMixed: true
